doctype html
html
  head
    title Harsh Dance Academy
    style
      include ../static/style.css
    body 
    h1 My site 
    p Welcome to my super came site
    script 
    include ../static/index.js